body {
    font-family: 'Times New Roman', Times, serif;
}

/* blog-3 */
.blog-3 {
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 800px;
    background-image: url("https://mywebsite.github.io/image/image-background/blog-3.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.header-post {
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 50px;
    font-weight: bold;
    color: var(--red2);
}

/* blog-3-info */
.about {
    text-align: justify;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;
    line-height: 30px;
    font-size: 18px;
    box-shadow: 0 4px 10px #0000001f;
}

.about-1 {
    font-weight: bold;
    font-style: italic;
    color: #236C82;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 4px 10px #0000001f;
}

.about-1 p {
    font-size: 18px;
}

.about-content {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.about-content img {
    border-radius: 20px;
}

.content {
    line-height: 30px;
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
    padding: 20px;
    box-shadow: 0 4px 10px #0000001f;
}

.content span {
    color: var(--red2);
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.end {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: var(--red2);
    margin-top: 40px;
}

/* Mobile */
@media (max-width: 767px) {
    .blog-3 {
        width: 100%;
    }

    .header-post {
        font-size: 40px;
    }

    .about,
    .about-1 {
        box-shadow: none;
        width: 100%;
        padding: 10px;
    }

    .about {
        top: 10%;
    }

    .about-content {
        width: 100%;
    }

    .about-content img {
        width: 100%;
    }

    .content {
        box-shadow: none;
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){
    .blog-3 {
        width: 100%;
    }

    .img-post {
        width: 100%;
    }

    .header-post {
        top: 25%;
    }

    .about,
    .about-1 {
        width: 100%;
        padding: 10px;
    }

    .about-content {
        width: 100%;
    }

    .about-content img {
        width: 100%;
    }

    .content {
        width: 100%;
    }
}