:root {
    --red: #f7494c;
    --red2: rgb(248, 35, 35);
    --pink: rgb(248, 118, 118);
    --grey: rgb(70, 68, 68);
    --grey2: rgb(207, 202, 202);
    --black: rgb(36, 34, 34);
    --violet: rgb(250, 225, 250);
    --yellow: rgb(248, 248, 215);
    --green: rgb(216, 253, 216);
    --pink2: rgb(245, 212, 216);
}
